<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="1de44140-abb4-45f3-a325-e0aa3e2e6a73"
    Publisher="CN=bmg50"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1de44140-abb4-45f3-a325-e0aa3e2e6a73" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BTApper</DisplayName>
    <PublisherDisplayName>bmg50barrett</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BTApper.App">
      <uap:VisualElements
        DisplayName="BTApper"
        Square150x150Logo="Assets\Logo\Square150x150Logo.png"
        Square44x44Logo="Assets\Logo\Square44x44Logo.png"
        Description="BTApper is a tool to streamline Classic BattleTech (Tabletop) to-hit and weapon damage rolls. It is provided completely free, and as-is. There is no special permissions required, no ads. This was built through a love of the game and for the community! Source code will be posted on GitHub."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png" Square71x71Logo="Assets\Logo\SmallTile.png" Square310x310Logo="Assets\Logo\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Logo\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>